#curWeather {
    border: 4px double black;
    width: 600px;
    height: 400px;
}

#curWeather h2 {
    display: inline;
    width: auto;
}

.card {
    margin-left: 1%;
    margin-right: 1%;
    background-color: gray;
    color: white;
}